body {
    background-color: #e8e8e8;
}

.container {
    margin-top: 30px;
}

.house {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
}

.media-body {
    margin-top: 10px;
}

.media-body span {
    margin-top: 10px;
}

@media screen and (min-width: 990px) {
    .house img {
        max-width: 180px;
    }
}

@media screen and (max-width: 990px) {
    .house p,
    .house .media-body a {
        display: none;
    }
}