.level1 {
    list-style-type: none;
    padding-top: 12px;
    padding-left: 0; 
    margin: 0;
}

.level1 li {
    display: inline;
    float: left; 
    padding: 0px 20px 0px 0px;
    height: 27px;
    font-weight: bold;
    position: relative; 
}

.level1 li a,
.level1 li a:visited {
    color: red;
    text-decoration: none;
    display: block; 
}

.level1 li a:hover {
    color: green;
}

.level2 {
    display: none; 
    position: absolute; 
    background-color: #fff;
    list-style-type: none;
    z-index: 10;
    min-width: 150px;
    float: none;
}

.level1 li:hover .level2 {
    display: block;
}

.level2 li {
    float: none;
    display: block;
    padding: 5px 10px;
    height: auto;
    margin: 0;
}