body {
    width: 960px;
    margin: 0 auto; /* Center the body */
    font-family: Arial, sans-serif;
    color: #fcfcfc; /* Text Color */
    background: #355664;
}

h1 {
    /* font-family: minecraft enchantment, Arial, sans-serif;
    font-size: 50px;
    padding: 10px 0 0;*/
    text-align: center;/* Center the text*/
    img {
        width: 150px;
        height: 30%;
        display: block;
        margin: 0 auto; /* Center the image */ 
    }
}

h2 {
    font-family: minecraft enchantment, Arial, sans-serif;
    font-size: 40px;
    letter-spacing: 15px;
    text-align: center; /* Center the text */
    border-bottom: 3px solid #416371;
    padding-bottom: 20px;
}

h3 {
    text-align: right;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 10px;
}

p {
    line-height: 20px;
    padding-bottom: 5px;
    color: #94c258; /* Text Color */
}

img {
    width: 500px;
    height: 300px;
    border: none;
}

.article-content {
    margin: 15px 0;
}

nav {
    background: #355664;
    padding: 0 5px; /* Padding-right and Left */
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 5px; /* Margin-right and Left */
}

a {
    color: #ffffff; /* Default Text Color */
    margin: 5px 2px;
    padding: 7px 10px 4px;
    font-size: 18px;
}

a:hover {
    color: #7CB3E9; /* Hover Text Color */
}

a:visited {
    color: #8EC45B; /* Visited Text Color */
}

article {
    height: auto;
    background: #213E4A;
    padding: 20px;
    margin: 0 0 10px;
}

figure {
    border: 3px solid #142830;
    float: right;
    height: 300px;
    width: 500px;
    margin-left: 15px;
}

.highlighted-text {
    line-height: 20px;
    padding-bottom: 5px;
    color: white;
}

footer {
    border-top: 3px solid #142830;
    padding-top: 15px;
    margin-bottom: 30px;
    text-align: center; /* Center the text */
    font-size: 20px;
}